body, html, #container {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

section {
  height: 100%;
  font-size: 300%;
  overflow: scroll;
}

.scroll-catcher {
  width: 100%;
  height: 101%;
}

#navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
}

#debug-info {
  height: auto;
  width: 90%;
  background: white;
  font-family: monospace;
}

.r { background-color: #F88; }
.o { background-color: #FB5; }
.y { background-color: #FF6; }
.g { background-color: #AFA; }
.b { background-color: #AEF; }
.v { background-color: #EAF; }
